# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [3]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [9]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print('\n')
print(df2)

    fruit  weight  price
0   apple    high      8
1  banana  medium      5
2  orange     low     11
3   apple    high     11
4  banana  medium      3
5  orange     low      6
6   apple    high      8
7  banana  medium      5
8  orange     low      6


    fruit weight  price
0   apple   high      9
1  orange    low     13
2    pine   high      8
3   apple    low     13
4  orange   high     13
5    pine    low      6

In [7]:
# - 依照 fruit 欄位做合併
df=pd.merge(df1, df2, on='fruit')
df

     fruit weight_x  price_x weight_y  price_y
0    apple     high       11     high        7
1    apple     high       11      low        0
2    apple     high        2     high        7
3    apple     high        2      low        0
4    apple     high        0     high        7
5    apple     high        0      low        0
6   orange      low       12      low        8
7   orange      low       12     high        6
8   orange      low        0      low        8
9   orange      low        0     high        6
10  orange      low        6      low        8
11  orange      low        6     high        6

In [43]:
# - 依照 index 索引做合併
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [ ]:
#因pd.merge沒有設定left_index or right_index，造成dataframe列的交集將被推斷為連接鍵
#也就是說用index與fruit比對，會發現df1與df2的第一列、第三列的索引和fruit一樣，也就少了這兩筆

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [42]:
pd.merge(df1,df2,left_index = True,right_index = True,how = 'outer')

  fruit_x weight_x  price_x fruit_y weight_y  price_y
0   apple     high        8   apple     high      9.0
1  banana   medium        5  orange      low     13.0
2  orange      low       11    pine     high      8.0
3   apple     high       11   apple      low     13.0
4  banana   medium        3  orange     high     13.0
5  orange      low        6    pine      low      6.0
6   apple     high        8     NaN      NaN      NaN
7  banana   medium        5     NaN      NaN      NaN
8  orange      low        6     NaN      NaN      NaN